extends ../base

block content
  div 
    video#preview
    button#recordBtn Start Recording 
  
  form(method="POST" enctype="multipart/form-data")
    label.form__label(for="video") Video File 
    input(name="video", id="video", type="file", accept="video/*")
    br
    br
    br
    label.form__label Video Description
    input(name="title", placeholder="Title", required)
    input(name="description", placeholder="Description", required)
    input(name="hashtags", placeholder="Hashtags, separated by comma.", required)
    input(value="Save", type="submit")
  
  block scripts
    script(src="/assets/js/recorder.js")