extends base

block content
  form(method="POST")
    input(name="name", type="text", placeholder="Name", required)
    input(name="email", type="email", placeholder="Email", onkeyup="this.value=this.value.toLowerCase()", required)
    input(name="username", type="text", placeholder="Username", onkeyup="this.value=this.value.toLowerCase()", required)
    input(name="password", type="password", placeholder="Password", required)
    input(name="password2", type="password", placeholder="Confirm Password", required)
    input(name="location", type="text", placeholder="Location", required)
    input(value="Join", type="submit")
  hr
  div 
    span Already have an account? 
    a(href="/login") Log in now &rarr;