extends base

block content
  form(method="POST")
    input(name="username", type="text", placeholder="Username", onkeyup="this.value=this.value.toLowerCase()", required)
    input(name="password", type="password", placeholder="Password", required)
    input(value="Login", type="submit")
    br
    a(href="/users/github/start") Continue with Github &rarr;
  hr
  div 
    span Don't have an account? 
    a(href="/join") Create it now &rarr;