extends ../base

block content
  form(method="POST")
    input(name="currentPassword", type="password", placeholder="Current Password", required)
    input(name="password", type="password", placeholder="New Password", required)
    input(name="password2", type="password", placeholder="Confirm Password", required)
    input(value="Save", type="submit")