extends ../base

block content
  form(method="POST" enctype="multipart/form-data").edit-profile__form
    label.form__label(for="avatar") Avatar
    if loggedInUser.avatarUrl
      img.avatar(src="/"+loggedInUser.avatarUrl)
    else 
      span.avatar__none 🥰
    br
    br
    input(name="avatar", id="avatar", type="file", accept="image/*")
    br
    br
    label.form__label User Data 
    input(name="name", value=loggedInUser.name, type="text", placeholder="Name", required)
    input(name="email", value=loggedInUser.email, type="email", placeholder="Email", onkeyup="this.value=this.value.toLowerCase()", required)
    input(name="username", value=loggedInUser.username, type="text", placeholder="Username", onkeyup="this.value=this.value.toLowerCase()", required)
    input(name="location", value=loggedInUser.location, type="text", placeholder="Location")
    input(value="Save", type="submit")
    hr
    if (!loggedInUser.socialOnly)
      a(href="change-password") Change Password &rarr;